name: Fetch .apk
on:
  workflow_dispatch:
  workflow_call:
  schedule:
    - cron: "0 */5 * * *"
jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        
      - name: Fetch .apk file
        run: wget https://teslacoilapps.com/tesladirect/download.pl?packageName=com.teslacoilsw.launcher -O $GITHUB_WORKSPACE/system/app/NovaLauncher/NovaLauncher.apk
        
      - name: Push changes with Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git init
          git add -A
          git commit --allow-empty -am "Fetch/Update NovaLauncher.apk"
          git push -u origin $GITHUB_REF_NAME && echo Done! && exit 0
        if: github.event_name != 'pull_request'
